.section-title h2{
    margin-bottom: 20px;
  }
  
  .course-content {
    margin-bottom: 30px;
    padding-right: 0;
    padding-left: 30px;
  }
  
  .course {
    text-align: left;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(145deg, #fafafa, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    position: relative;
    z-index: 1;
    height: 100%;
    transition: 0.5s all ease-in-out;
    display: inline-block;
    width: 100%;
  }
  
  .course .inner .thumbnail{
    margin-bottom: 20px;
  }
  
  .course .inner .thumbnail a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .course .inner .thumbnail a img{
    width: 100%;
    transition: 0.4s;
    height: auto;
    object-fit: cover;
  }
  
  .course:hover{
    transform: translateY(-4px);
    transition: .25s;
  }
  
  .course .inner .content .category-info{
    margin-bottom: 10px;
  }
  
  .course .inner .content .category-info .category-list span.course-date {
    color: #f40097;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    cursor: default;
    border: none;
    outline: none;
    background: none;
  }
  
  .course .inner .content .title a {
    font-size: 18px;
    line-height: 30px;
    transition: 0.4s;
    font-weight: 600;
    color: #1e2125;
  }
  
  .course .inner .content .title a:hover{
    text-decoration: none;
    color: #f40097;
    transition: 0.4s;
  }
  
  @media screen and (min-width: 991px) {
    .course .inner .content .title a {
      font-size: 20px;
    }
  }
  
  