.footer-wrapper p.description, .footer-wrapper p.description a{
    color: #1e2125;
  }
  
  .footer-wrapper p.description a:hover{
    color: #f40097;
  }
  
  .footer-wrapper .logo a img{
    max-height: 100px;
    transition: 0.3s;
    border-radius: 50%;
    border: 1px solid #a09393;
  }
  
  .footer-wrapper .footer-area .logo{
    max-height: unset;
    margin: 0 auto;
  }
  
  .footer-wrapper .footer-area .logo a{
    margin-bottom: 30px;
  }
  
  .footer-wrapper .footer-area ul.social-share{
    margin-bottom: 30px;
  }