.courses{
    position: relative;
    z-index: 1;
}

.dropdown-wrapper, .search-wrapper{
    margin-bottom: 20px;
}

.show>.btn-primary.dropdown-toggle {
    background: linear-gradient(145deg, #fafafa, #ffffff);
    color: #f40097;
    border-color: #fa0097;
}

.btn-primary:not(:disabled):not(.disabled):active{
    border-color: transparent;
}

.show>.btn-primary.dropdown-toggle:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-primary:focus{
    box-shadow: 0 0 0 0;
}

.dropdown button.btn.btn-primary:first-child, .btn-primary:not(:disabled):not(.disabled):active:first-child {
    border-right-color: transparent;
}

.dropdown button.btn.btn-primary:last-child, .btn-group>.btn:not(:first-child), .btn-primary:not(:disabled):not(.disabled):active:last-child {
    border-left-color: transparent;
}

.sr-only {
    position: relative;
    padding: 0 8px 0 0;
}

form .input-group{
    position: relative;
    justify-content: center;
}

form form input.search:focus-visible, form input.search:focus {
    outline: none;
    box-shadow: none;
}

form input.search {
    border: 2px solid #000;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    font-size: 17px;
    height: 45px;
    padding-left: 18px;
    border-right: 0;
}

form button.search-button{
    border: 2px solid #000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    background-color: #fff;
    font-size: 22px;
    outline: none;
    padding-right: 10px;
}

