.show>.btn-primary.dropdown-toggle {
    background: linear-gradient(145deg, #fafafa, #ffffff);
    color: #f40097;
    border-color: #fa0097;
}

.btn-primary:not(:disabled):not(.disabled):active{
    border-color: transparent;
}

.show>.btn-primary.dropdown-toggle:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-primary:focus{
    box-shadow: 0 0 0 0;
}

.dropdown button.btn.btn-primary:first-child, .btn-primary:not(:disabled):not(.disabled):active:first-child {
    border-right-color: transparent;
}

.dropdown button.btn.btn-primary:last-child, .btn-group>.btn:not(:first-child), .btn-primary:not(:disabled):not(.disabled):active:last-child {
    border-left-color: transparent;
}

.sr-only {
    position: relative;
    padding: 0 8px 0 0;
}