.mainBanner {
    padding: 20px 0px;
}

.slide {
    position: relative;
}

/* right image */
.thumbnail {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}

.thumbnailInner {
    text-align: center;
}

.heroImage {
    height: auto;
}

/* left content */
.content {}

.inner {
    margin-bottom: 40px;
}

.title {
    font-weight: 700;
    margin-bottom: 22px;
    font-size: 32px;
    line-height: 40px;
    color: #1e2125;
}

.titleName {
    color: #f40097;
    vertical-align: unset;
}

.titleHeadline {
    color: #1e2125;
    vertical-align: middle;
    display: inline-block;
    min-width: 140px;
    /* helps prevent layout shift while typing */
}

.description {}

.description strong {
    font-weight: 600;
    font-size: 20px;
}

/* section labels */
.sectionLabel {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #1e2125;
    display: inline-block;
    margin-bottom: 20px;
}

/* skills */
.skillShareInner {}

.skillShare {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.skillItem {
    margin: 0 20px 20px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    background: linear-gradient(145deg, #fafafa, #ffffff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
    transition: 0.2s ease;
}

.skillItem:hover {
    transform: translateY(-3px);
}

.mtMobile30 {
    margin-top: 30px;
}

/* desktop image sizing */
@media screen and (min-width: 991px) {
    .heroImage {
        min-height: 570px;
        object-fit: cover;
    }
}